# Mutable & Immutable types

In [1]:
# create a simple list
l = [n for n in range(10)]

In [2]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
l[0] = 'hello'

In [7]:
l

['hello', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# create a simple tuple
t = (1,2,3)

In [11]:
print(type(t))

<class 'tuple'>

In [14]:
dir(t)  #methos available to tuples

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [86]:
dir(l)  # methods available to lists

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

What about storing mutable data structures within an immutable data structure?

In [20]:
l1 = [n for n in range(10)]

In [22]:
l2 = [n*n for n in range(10)]

In [23]:
t1 = (l1, l2)

In [24]:
t1[0]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
type(t1)

tuple

In [26]:
l1.pop(1)

1

In [27]:
l1

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
t1[0]

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
t1[0] = t1[1]

TypeError: 'tuple' object does not support item assignment

Creating dictionaries from lists using zip

In [32]:
l3 = 'a b c d e f g h i j'.split()

In [33]:
l3

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [46]:
d = zip(l3, l2)

In [47]:
# F strings for the win! https://realpython.com/python-f-strings/
for i in d:
    print(f'item {i} is a {type(i)}')

item ('a', 0) is a <class 'tuple'>
item ('b', 1) is a <class 'tuple'>
item ('c', 4) is a <class 'tuple'>
item ('d', 9) is a <class 'tuple'>
item ('e', 16) is a <class 'tuple'>
item ('f', 25) is a <class 'tuple'>
item ('g', 36) is a <class 'tuple'>
item ('h', 49) is a <class 'tuple'>
item ('i', 64) is a <class 'tuple'>
item ('j', 81) is a <class 'tuple'>

In [60]:
d = dict(zip(l3, l2))

In [57]:
d

{'a': 0,
 'b': 1,
 'c': 4,
 'd': 9,
 'e': 16,
 'f': 25,
 'g': 36,
 'h': 49,
 'i': 64,
 'j': 81}

In [61]:
dl = [d, d, d, d]

In [62]:
dl

[{'a': 0,
  'b': 1,
  'c': 4,
  'd': 9,
  'e': 16,
  'f': 25,
  'g': 36,
  'h': 49,
  'i': 64,
  'j': 81},
 {'a': 0,
  'b': 1,
  'c': 4,
  'd': 9,
  'e': 16,
  'f': 25,
  'g': 36,
  'h': 49,
  'i': 64,
  'j': 81},
 {'a': 0,
  'b': 1,
  'c': 4,
  'd': 9,
  'e': 16,
  'f': 25,
  'g': 36,
  'h': 49,
  'i': 64,
  'j': 81},
 {'a': 0,
  'b': 1,
  'c': 4,
  'd': 9,
  'e': 16,
  'f': 25,
  'g': 36,
  'h': 49,
  'i': 64,
  'j': 81}]

# Pandas Dataframes - mutable data structures

In [ ]:
import pandas as pd

In [70]:

df = pd.DataFrame(dl)

In [71]:
dir(df)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_compare_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'a',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'b',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'c',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'd',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'e',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'f',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'g',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'h',
 'head',
 'hist',
 'i',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'j',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [55]:
type(df)

pandas.core.frame.DataFrame

In [65]:
df.head()

   a  b  c  d   e   f   g   h   i   j
0  0  1  4  9  16  25  36  49  64  81
1  0  1  4  9  16  25  36  49  64  81
2  0  1  4  9  16  25  36  49  64  81
3  0  1  4  9  16  25  36  49  64  81

In [68]:
df.drop(['a'], axis=1, inplace=True)
df.head()

   b  c  d   e   f   g   h   i   j
0  1  4  9  16  25  36  49  64  81
1  1  4  9  16  25  36  49  64  81
2  1  4  9  16  25  36  49  64  81
3  1  4  9  16  25  36  49  64  81

In [83]:
df2 = df
df2.head()

   a  b  c   e   f   g   h   i
0  0  1  4  16  25  36  49  64
1  0  1  4  16  25  36  49  64
2  0  1  4  16  25  36  49  64
3  0  1  4  16  25  36  49  64

In [84]:
df2.drop(['i'], axis=1, inplace=True)

In [85]:
df.head()

   a  b  c   e   f   g   h
0  0  1  4  16  25  36  49
1  0  1  4  16  25  36  49
2  0  1  4  16  25  36  49
3  0  1  4  16  25  36  49

In [78]:
df2.head()

   a  b  c   e   f   g   h   i   j
0  0  1  4  16  25  36  49  64  81
1  0  1  4  16  25  36  49  64  81
2  0  1  4  16  25  36  49  64  81
3  0  1  4  16  25  36  49  64  81

In [79]:
df3 = df2[0:2]
df3

   a  b  c   e   f   g   h   i   j
0  0  1  4  16  25  36  49  64  81
1  0  1  4  16  25  36  49  64  81

In [81]:
df2['c'] = 10

In [82]:
df3

   a  b   c   e   f   g   h   i   j
0  0  1  10  16  25  36  49  64  81
1  0  1  10  16  25  36  49  64  81